@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/GoogleSansFlex.woff2") format("woff2-variations");
  font-weight: 1 1000;
  font-stretch: 25% 151%;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}
